:root {
  color: #eceff4;
  font-family: "DM Sans", sans-serif;
  font-size: calc(calc(1vh + 1vw) * 0.8);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #080808;
}

*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
}
